body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
}

.calendar-wrap {
  border-top: 5px solid #ebab34;
  display: flex;
  flex-direction: column;
  padding: 0 24px 0 24px;
}

/* nav bar section */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0 24px 0;
}

.chronology-nav-container {
  display: flex;
}

.calendar-title-container {
  font-size: 24px;
  font-weight: bold;
}

.custom-btn-list {
  display: flex;
}

/* custom button */
.custom-btn {
  background-color: hsl(224, 100%, 57%);
  border: none;
  color: white;
  padding: 10px;
}

.custom-btn:first-child {
  border-radius: 3px 0 0 3px;
}

.custom-btn:last-child {
  border-radius: 0 3px 3px 0;
}

.custom-btn:active {
  background-color: hsl(224, 73%, 45%);
}

/* modal section */
.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;

  background-color: white;
  padding: 4rem;
  border-radius: 10px;
  box-shadow: 0 3rem 5rem rgba(44, 43, 43, 0.3);
  z-index: 10;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-title {
  font-size: larger;
  font-weight: 300;
}

.modal-input {
  margin: 10px;
  border-radius: 6px;
  font-size: 16px;
  background: #fbfbfb;
  border: 2px solid transparent;
  height: 36px;
  box-shadow: 0 0 0 1px #dddddd, 0 2px 4px 0 rgb(0 0 0 / 7%),
    0 1px 1.5px 0 rgb(0 0 0 / 5%);
}

.modal-input:focus {
  border: 2px solid #000;
  border-radius: 4px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

/* calendar section */
.calendar-table {
  border-collapse: collapse;
}

.days-titles th {
  padding: 5px;
}

.calendar-table td,
th {
  border: 1px solid rgb(158, 158, 158);
}

.days-sections-wrap td {
  height: 12vh;
  vertical-align: top;
}

.day-number {
  padding: 3px;
  text-align: end;
}

.inactive {
  color: rgb(158, 158, 158);
}

.day-note {
  background-color: hsl(224, 100%, 57%);
  border-radius: 3px;
  padding: 2px;
  margin: 1px;
  color: white;
}
